* {
  margin: 0;
  padding: 0; }

body,
html {
  width: 100%;
  height: 100%;
  font-size: 12px; }

ul {
  list-style: none; }

a {
  color: #000;
  text-decoration: none; }

span {
  display: inline-block; }

.homepage {
  background: #f0f3ef; }
  .homepage .qf-dingwei {
    color: red; }
  .homepage .qf-arrowdown {
    font-size: 6px;
    padding-left: 5px; }
  .homepage .warp {
    width: 1190px;
    /* background: pink; */
    margin: 0 auto; }
  .homepage .top_img_warp {
    height: 80px;
    width: 100%;
    background: #930d12; }
  .homepage .top_img {
    width: 100%;
    height: 80px;
    background: url(http://img12.360buyimg.com/da/jfs/t20080/218/1835767673/53056/5198b361/5b3f422eNfd087d19.jpg) no-repeat 50% 0; }
  .homepage .nav_top {
    background: #e3e4e5;
    height: 30px;
    line-height: 30px;
    color: #999; }
  .homepage .location {
    float: left;
    margin-left: 10px; }
  .homepage .nav_top ul {
    float: right; }
  .homepage .nav_top ul li {
    /* height: 12px; */
    float: left; }
  .homepage .nav_top ul li a {
    /* display: inline-block; */
    /* line-height: 30px; */
    height: 12px;
    padding: 0 10px;
    border-right: 1px solid #999;
    color: #999; }
  .homepage .nav_top ul li a:hover {
    color: #f10215; }
  .homepage .nav_top ul li a:hover span {
    color: #999; }
  .homepage .nav_top ul li:nth-child(1) a {
    /* background: #fff; */
    border: none;
    padding: 0; }
  .homepage .nav_top ul li:nth-child(9) a {
    border: none; }
  .homepage .nav_top ul li:nth-child(2) a {
    color: #f10215; }
  .homepage .nav_left_width {
    width: 190px;
    height: 10px;
    position: relative;
    float: left; }
  .homepage .nav_left_main {
    display: block;
    width: 190px;
    height: 170px;
    position: absolute;
    background-image: url(http://misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/images/sprite.head.png);
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2); }
  .homepage .lbox {
    width: 200px;
    height: 170px;
    visibility: visible;
    float: left; }
  .homepage #header {
    height: 140px;
    position: relative; }
  .homepage .search_box_warp {
    height: 60px;
    position: relative; }
  .homepage .search_box {
    width: 550px;
    height: 35px;
    position: absolute;
    top: 25px;
    left: 320px; }
    .homepage .search_box input {
      padding: 4px 44px 4px 4px;
      width: 450px;
      height: 25px;
      outline: none;
      border: 1px solid transparent;
      float: left; }
    .homepage .search_box span {
      position: absolute;
      top: 10px;
      right: 65px;
      font-size: 18px;
      color: #666; }
    .homepage .search_box button {
      width: 50px;
      height: 35px;
      right: 0;
      line-height: 35px;
      border: none;
      background-color: #f10215;
      float: left;
      color: #fff; }
  .homepage .shopping_trolley {
    width: 190px;
    height: 35px;
    position: absolute;
    top: 25px;
    right: 100px;
    background: #fff;
    text-align: center;
    line-height: 33px;
    color: #f10214; }
    .homepage .shopping_trolley span {
      margin-right: 5px; }
    .homepage .shopping_trolley a {
      color: #f10214; }
  .homepage .hotwords {
    width: 550px;
    height: 20px;
    position: absolute;
    left: 320px;
    top: 65px;
    line-height: 20px; }
    .homepage .hotwords .getred {
      color: #f10215; }
    .homepage .hotwords a:hover {
      color: #c81623; }
    .homepage .hotwords a {
      margin-right: 10px;
      color: #999; }
  .homepage .navitems {
    position: absolute;
    left: 200px;
    bottom: 0;
    width: 790px;
    height: 40px;
    padding-top: 20px;
    line-height: 40px; }
    .homepage .navitems li {
      float: left;
      margin-left: 30px; }
    .homepage .navitems li:nth-child(4) a {
      padding-right: 10px;
      border-right: 1px solid #ccc; }
    .homepage .navitems .navitems_group2 li:nth-child(4) a {
      padding-right: 10px;
      border-right: 1px solid #ccc; }
  .homepage .main_page {
    height: 480px; }
    .homepage .main_page .left_nav_toomany {
      overflow: hidden;
      float: left;
      height: 480px;
      width: 190px;
      background: #fff;
      margin-right: 10px; }
      .homepage .main_page .left_nav_toomany .left_nav_ulbox {
        padding: 10px 0;
        height: 460px;
        background-color: #fefefe;
        color: #636363; }
      .homepage .main_page .left_nav_toomany li {
        padding-left: 18px;
        height: 27px;
        line-height: 27px;
        font-size: 14px;
        overflow: hidden; }
    .homepage .main_page .right_slideshow_and_notice {
      float: right;
      width: 990px; }
      .homepage .main_page .right_slideshow_and_notice .right_slideshow_ulbox {
        position: relative; }
        .homepage .main_page .right_slideshow_and_notice .right_slideshow_ulbox li {
          position: absolute; }

.login {
  color: #999;
  font-size: 12px; }
  .login .warp {
    width: 990px;
    margin: 0 auto; }
  .login .logo_w {
    height: 80px; }
  .login .logo {
    position: relative;
    width: 300px;
    margin: 10px 0;
    height: 60px;
    float: left; }
    .login .logo b {
      display: block;
      width: 110px;
      height: 40px;
      position: absolute;
      right: 0;
      bottom: 0;
      background: url(http://misc.360buyimg.com/user/passport/1.0.0/css/i/l-icon.png) no-repeat; }
  .login .q_link {
    position: relative;
    color: #999;
    float: right;
    top: 52px; }
    .login .q_link b {
      color: red;
      font-size: 18px; }
  .login .tips {
    background: #fff8f0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center; }
  .login .login_warp {
    position: relative;
    height: 475px;
    margin: 0 0 20px 0;
    z-index: 5;
    background-color: #ff6c39; }
  .login .login_banner {
    height: 100%;
    background: url(http://img10.360buyimg.com/da/jfs/t21184/205/2021050316/60386/371526a3/5b430a9dN81d5c13d.jpg) 0px 0px no-repeat; }
  .login .link {
    height: 56px;
    padding-bottom: 30px;
    text-align: center; }
    .login .link a {
      padding: 0 10px;
      border-right: 1px solid #ccc; }
    .login .link p {
      margin: 10px 0; }
  .login .login_from {
    width: 346px;
    height: 400px;
    background: white;
    position: absolute;
    top: 15px;
    right: 135px; }
    .login .login_from .tips_top {
      background: #fff8f0;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center; }
    .login .login_from .login_tab {
      width: 100%;
      height: 54px;
      font-size: 18px;
      font-family: "microsoft yahei";
      text-align: center;
      border-bottom: 1px solid #f4f4f4;
      background: #fff;
      display: block; }
      .login .login_from .login_tab .login_tabl {
        height: 100%;
        width: 172px;
        float: left;
        line-height: 54px;
        border-right: 1px solid #f4f4f4; }
      .login .login_from .login_tab .login_tabr {
        height: 100%;
        width: 173px;
        float: right;
        line-height: 54px; }
    .login .login_from .form {
      width: 306px;
      height: 192px;
      margin: 23px auto; }
      .login .login_from .form input {
        line-height: 18px;
        height: 18px;
        padding: 10px 0 10px 50px;
        width: 254px;
        float: none;
        overflow: hidden;
        font-size: 14px;
        font-family: '\5b8b\4f53';
        margin: 10px 0; }
      .login .login_from .form p {
        float: right;
        margin-top: 10px;
        margin-bottom: 20px; }
      .login .login_from .form .submit {
        padding: 0;
        outline: #6d6d6d none 0px;
        border: 1px solid #e85356;
        display: block;
        width: 302px;
        background: #e4393c;
        height: 31px;
        line-height: 31px;
        color: #fff;
        font-size: 20px;
        font-family: 'Microsoft YaHei'; }
    .login .login_from .wechat {
      width: 306px;
      padding-left: 20px;
      padding-right: 20px;
      line-height: 60px;
      border-top: 1px solid #f4f4f4;
      height: 50px;
      background-color: #fcfcfc;
      position: absolute;
      bottom: 0; }
      .login .login_from .wechat .wechatul {
        height: 50px; }
        .login .login_from .wechat .wechatul .register {
          float: right; }
        .login .login_from .wechat .wechatul li {
          float: left;
          width: 69px;
          height: 50px; }
          .login .login_from .wechat .wechatul li .qf-qq {
            color: skyblue; }
          .login .login_from .wechat .wechatul li .qf-wechat {
            color: green; }
          .login .login_from .wechat .wechatul li .qq {
            padding-right: 10px;
            border-right: 1px solid #ccc; }
          .login .login_from .wechat .wechatul li .qf-xiangyoujiantou {
            color: red; }
          .login .login_from .wechat .wechatul li i {
            margin-right: 5px; }
  .login .register_box {
    width: 100%; }
    .login .register_box .progress_bar {
      width: 400px;
      height: 50px;
      margin: 80px auto 0; }
      .login .register_box .progress_bar b {
        float: left;
        font-size: 18px; }
      .login .register_box .progress_bar p {
        width: 24px;
        height: 24px;
        border: 1px solid #ccc;
        border-radius: 50%;
        color: #ccc;
        position: relative;
        float: left; }
        .login .register_box .progress_bar p i {
          position: absolute;
          top: 15%;
          left: 30%; }
      .login .register_box .progress_bar .getgreen {
        background: green; }
      .login .register_box .progress_bar .tittle {
        float: left;
        margin-right: 100px;
        margin-top: 10px; }
      .login .register_box .progress_bar .tittle_r {
        float: right;
        margin-top: 10px; }
    .login .register_box .form_register {
      margin: 50px auto 186px;
      width: 400px; }
      .login .register_box .form_register .reg_other {
        width: 400px;
        height: 28px;
        margin-top: 28px; }
        .login .register_box .form_register .reg_other .business_registration {
          float: left; }
        .login .register_box .form_register .reg_other .International_station_registration {
          float: right; }
    .login .register_box .text_box {
      width: 100%;
      height: 52px;
      outline: none;
      padding: 10px 5px 10px 100px;
      box-sizing: border-box;
      margin-bottom: 34px; }
    .login .register_box .button_box {
      width: 100%;
      height: 52px;
      outline: none;
      background: red;
      position: absolute;
      bottom: 0; }
    .login .register_box .form_register_box {
      width: 400px;
      height: 246px;
      position: relative; }

.shopping_trolley .warp {
  width: 990px;
  /* background: pink; */
  margin: 0 auto; }

.shopping_trolley .nav_top {
  background: #e3e4e5;
  height: 30px;
  line-height: 30px;
  color: #999; }

.shopping_trolley .back_homepage {
  float: left;
  margin-left: 10px; }

.shopping_trolley .location {
  float: left;
  margin-left: 10px; }

.shopping_trolley .nav_top ul {
  float: right; }

.shopping_trolley .nav_top ul li {
  /* height: 12px; */
  float: left; }

.shopping_trolley .nav_top ul li a {
  /* display: inline-block; */
  /* line-height: 30px; */
  height: 12px;
  padding: 0 10px;
  border-right: 1px solid #999;
  color: #999; }

.shopping_trolley .nav_top ul li a:hover {
  color: #f10215; }

.shopping_trolley .nav_top ul li a:hover span {
  color: #999; }

.shopping_trolley .nav_top ul li:nth-child(1) a {
  /* background: #fff; */
  border: none;
  padding: 0; }

.shopping_trolley .nav_top ul li:nth-child(9) a {
  border: none; }

.shopping_trolley .nav_top ul li:nth-child(2) a {
  color: #f10215; }

.shopping_trolley .logo_and_search {
  height: 97px;
  padding-top: 10px; }
  .shopping_trolley .logo_and_search .logo {
    float: left;
    width: 277px;
    height: 50px;
    margin: 15px 0 22px;
    position: relative; }
    .shopping_trolley .logo_and_search .logo .logo_a {
      display: block;
      margin-top: 2px;
      width: 134px;
      height: 42px;
      background: url(http://misc.360buyimg.com/jdf/1.0.0/unit/global-header/5.0.0/i/jdlogo-201708-@1x.png) no-repeat 0 0;
      background-size: 134px 42px; }
    .shopping_trolley .logo_and_search .logo .link {
      overflow: hidden;
      display: inline-block;
      position: absolute;
      width: 100px;
      height: 40px;
      line-height: 99em;
      top: 14px;
      right: 38px;
      background: #fff; }
      .shopping_trolley .logo_and_search .logo .link b {
        display: inline-block;
        position: absolute;
        width: 100px;
        height: 40px;
        line-height: 99em;
        top: 0;
        right: 0;
        background: url(http://misc.360buyimg.com/user/cart/widget/header-2017/i/cart-icon.png) #fff no-repeat; }
  .shopping_trolley .logo_and_search .search {
    float: right;
    border: 2px solid #c91623;
    background: #c91623;
    height: 24px;
    margin-top: 30px;
    overflow: hidden;
    background: #c91623; }
    .shopping_trolley .logo_and_search .search .itxt {
      border: 0;
      height: 18px;
      line-height: 18px;
      width: 260px;
      padding: 3px 5px;
      outline: 0; }
    .shopping_trolley .logo_and_search .search .button:focus {
      outline: none; }
    .shopping_trolley .logo_and_search .search .button {
      display: inline-block;
      vertical-align: top;
      width: 48px;
      height: 24px;
      background: #c91623;
      text-align: center;
      color: #fff;
      font-weight: 700;
      -webkit-appearance: none;
      border: none; }

.shopping_trolley .cart-filter-bar {
  height: 37px;
  margin-top: 10px;
  position: relative; }
  .shopping_trolley .cart-filter-bar .switch-cart {
    float: left;
    position: relative;
    height: 26px;
    overflow: hidden; }
    .shopping_trolley .cart-filter-bar .switch-cart .switch-cart-item {
      float: left;
      position: relative;
      font-weight: 700;
      font-size: 16px;
      height: 26px;
      line-height: 26px;
      text-align: center;
      padding: 0 0 10px;
      cursor: pointer;
      margin: 5px 30px 0 0; }
  .shopping_trolley .cart-filter-bar .cart-store {
    float: right;
    position: relative;
    z-index: 5;
    display: block;
    margin-bottom: 10px;
    padding-left: 122px; }
    .shopping_trolley .cart-filter-bar .cart-store .label {
      float: left;
      line-height: 26px; }
    .shopping_trolley .cart-filter-bar .cart-store .jdarea {
      position: relative;
      float: left;
      z-index: 3;
      height: 26px;
      cursor: default;
      margin: 0; }
      .shopping_trolley .cart-filter-bar .cart-store .jdarea .ui-area-text-wrap {
        float: right;
        position: relative;
        top: 0;
        height: 23px;
        background: #fff;
        border: 1px solid #CECBCE;
        padding: 0 24px 0 4px;
        line-height: 23px;
        overflow: hidden; }
        .shopping_trolley .cart-filter-bar .cart-store .jdarea .ui-area-text-wrap b {
          display: block;
          position: absolute;
          top: 3px;
          right: 4px;
          width: 17px;
          height: 17px;
          background: url(http://img12.360buyimg.com/uba/jfs/t4660/73/4024943067/1159/f1a90f68/59088392N8b6279bb.png) no-repeat 3px 5px;
          overflow: hidden;
          background-repeat: no-repeat; }

.shopping_trolley .cart-warp {
  background: #fff;
  margin-bottom: 20px; }
  .shopping_trolley .cart-warp .cart-thead {
    display: block;
    height: 32px;
    line-height: 32px;
    margin: 0 0 10px;
    padding: 5px 0;
    background: #f3f3f3;
    border: 1px solid #e9e9e9;
    border-top: 0;
    position: relative; }
    .shopping_trolley .cart-warp .cart-thead .t-checkbox {
      float: left;
      height: 18px;
      line-height: 18px;
      padding-top: 7px;
      width: 122px;
      padding-left: 11px; }
    .shopping_trolley .cart-warp .cart-thead .price {
      float: right;
      margin: 0 45px; }
    .shopping_trolley .cart-warp .cart-thead .quantity {
      float: right;
      margin: 0 45px; }
    .shopping_trolley .cart-warp .cart-thead .subtotal {
      float: right;
      margin-left: 40px; }
    .shopping_trolley .cart-warp .cart-thead .operation {
      float: right;
      margin: 0 55px; }

.shopping_trolley .cart-item-list {
  margin-bottom: 20px; }
  .shopping_trolley .cart-item-list .item-list {
    height: 200px;
    background-color: #fff;
    border-top: 3px solid #aaa; }
    .shopping_trolley .cart-item-list .item-list .item-header ul {
      height: 26px;
      background: #fff; }
      .shopping_trolley .cart-item-list .item-list .item-header ul li {
        float: left;
        line-height: 26px; }
        .shopping_trolley .cart-item-list .item-list .item-header ul li span {
          display: inline-block;
          background: #e4393c;
          margin-right: 10px;
          margin-left: 15px;
          height: 18px;
          line-height: 18px;
          border-radius: 4px;
          padding: 0 2px 0 2px; }
    .shopping_trolley .cart-item-list .item-list .item-item {
      background-color: #c91623;
      position: relative; }
      .shopping_trolley .cart-item-list .item-list .item-item [type="checkbox"] {
        position: absolute;
        top: 20px;
        left: 10px; }
      .shopping_trolley .cart-item-list .item-list .item-item .item-text {
        padding: 0 0 0 40px; }
        .shopping_trolley .cart-item-list .item-list .item-item .item-text .item-a {
          line-height: 22px; }
        .shopping_trolley .cart-item-list .item-list .item-item .item-text .item-img {
          width: 70px;
          height: 90px;
          background: #ccc;
          float: left;
          margin-right: 15px; }
      .shopping_trolley .cart-item-list .item-list .item-item li {
        padding: 15px 0 15px 5px;
        background: #fff4e8;
        width: 100%; }
  .shopping_trolley .cart-item-list .shop {
    height: 30px;
    line-height: 30px;
    padding-left: 11px;
    font-weight: 700; }
    .shopping_trolley .cart-item-list .shop span {
      display: inline-block;
      width: 54px;
      height: 18px;
      line-height: 18px;
      background: #e4393c;
      color: #f3f3f3;
      text-align: center;
      position: relative;
      top: -3px;
      left: 4px;
      border-radius: 3px; }
